#Form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#Form .element {
  display: flex;
  margin: 10px;
  align-items: center;
}

#Form .element {
  display: flex;
  margin: 10px;
  align-items: center;
}

#Form .element p {
  margin-left: 10px;
}

#Form .element-text {
  margin-top: 20px;
}

#Form textarea {
  border: 1px solid #2d3142;
  width: 70vw;
  height: 20vh;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  outline: none;
}

input[type="checkbox"],
label {
  -webkit-tap-highlight-color: transparent;
}

input[type="submit"] {
  border: none;
  height: 35px;
  width: 100px;
  background-color: #2d3142;
  color: #fff;
  cursor: pointer;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: var(--teriary-color);
  display: block;
  border-radius: 50px;
  position: relative;
  outline: none;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #fc6812;
  outline: none;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 10px;
  outline: none;
}
